<!DOCTYPE html>
{%if lang =="ar"%}
	<html lang="{{lang}}" dir="rtl">
{%else%}
	<html lang="{{lang}}" dir="ltr">
{%endif%}
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>{{content.global_[lang]['name']}} - {{collection.name[lang][:50]}}...</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  	<meta name="description" content="{{cfg.meta_description}}">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='global/styles/icons/favicon.ico')}}">

  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='global/styles/computer.css')}}">
  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='global/styles/smallDevices.css')}}">
  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='collections/single_collection/styles/computer.css')}}">
  	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='collections/single_collection/styles/smallDevices.css')}}">

  	<script src="{{url_for('static', filename='global/scripts/main.js')}}"></script>
  </head>
  <body>
      <header>
        <div id="title">
          <div id="drawer-icon"></div>
              
          <a
            href="/"
            id="header-title"
            style="font-family: '{{primary_font_family}}';"
            >{{content.global_[lang]['name']}}</a
          >
        </div>
      <div id="header-search-container">
        <input
          type="name"
          name="search"
          id="header-search"
          placeholder="{{content.global_[lang]['searchHint']}}"
        />
      </div>
      <nav>
        {%if user_data %}
          <a href="{{cfg.base_url}}/profile/" id="header-user-nav-item">
        {% else %}
          <a href="{{cfg.base_url}}/login/" id="header-user-nav-item">
        {% endif %}
          <div id="header-user-icon" class="header-nav-icon"></div>
          <p style='font-family: "{{primary_font_family}}";'>
            {% if user_data %}
              {{content.global_[lang]['welcomeBack']}},<br><span>
                {{user_data.name}}
              </span>
            {% else %}
              {{content.tabs[lang]['login']}}<br /><span
              >{{content.tabs[lang]['account']}}</span
            >
            {% endif %}
          </p>
        </a>
        <a href="{{cfg.base_url}}/favourites/" id="header-favourites-nav-item">
          <div id="header-favourites-icon" class="header-nav-icon"></div>
          <div id="header-favourites-badge">
            {% if user_data %}
              {{len(user_data.favourites)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
        <a href="{{cfg.base_url}}/cart/" id="header-cart-nav-item">
          <div id="header-cart-icon" class="header-nav-icon"></div>
          <div id="header-cart-badge">
            {% if user_data %}
              {{len(user_data.cart)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
        {% if lang == 'en' %}
        <button onclick="changeLang('{{cfg.base_url}}', 'ar');" style="font-family: '{{primary_font_family}}'" id="lang-button">
            <p style='font-family: "Cairo";'>العربية</p>
        </button>
      {% else %}
        <button onclick="changeLang('{{cfg.base_url}}', 'en');" style="font-family: '{{primary_font_family}}'" id="lang-button">
            <p style='font-family: "Raleway";'>en</p>
        </button>
      {% endif %}
      </nav>
    </header>
  {% if collection.msg %}
    <div id="msg">
      <p style="font-family: '{{primary_font_family}}';">{{collection.msg[lang]}}</p>
      <button onclick="document.getElementById('msg').style.display= 'none';">x</button>
    </div>
  {% endif %}
  <section id="entry" style="background-image: url('{{cfg.base_url}}/assets/collections/covers/{{collection.id}}')">
    <div>
      <h2 style="font-family: '{{primary_font_family}}'">
        {{collection.name[lang]}}
      </h2>
      <p style="font-family: '{{primary_font_family}}'">{{collection.bio[lang]}}</p>
    </div>
  </section>
  <section id="products">
    {% for prod in collection.products %}
     <a class="product-card" href="{{cfg.base_url}}/products/{{prod.id}}">
      <div
        id="product-asset"
        style="background-image: url('{{cfg.base_url}}/assets/products/name/{{prod.id}}-{{prod.assets[0]}}');"
      ></div>
      <div id="product-content">
        <div id="content">
        <p style="font-family: '{{primary_font_family}}'">{{database.categories.get_category_by_id(prod.category)['name'][lang]}}</p>
        <h3 style="font-family: '{{primary_font_family}}'">
          {{prod.name[lang][:15]}}...
        </h3>
        <p style="font-family: '{{primary_font_family}}'">{{prod.bio[lang][:15]}}...</p>
        <h4 style="font-family: 'Poppins'">
          {{utils.format_price(prod.pricing['currentPrice'], show_curr= False)}} {% if
          prod.pricing['perviousPrice'] %}
          <span>{{utils.format_price(prod.pricing['perviousPrice'], show_curr= True)}}</span>
          {% endif %}
        </h4>
        </div>
      </div>
    </a>


    {% endfor%}
  </section>


  <footer>
    <div id="content">
      <div id="meta-info">
        <div id="logo"></div>
        <h1 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['name']}}</h1>
        <p style="font-family: '{{primary_font_family}}'">{{content.global_[lang]["bio"]}}</p>
        <div id="links">
          {% if cfg.facebook %}
            <a href="{{cfg.facebook}}" id="footer-facebook-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.instagram %}
            <a href="{{cfg.instagram}}" id="footer-instagram-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.twitter %}
            <a href="{{cfg.twitter}}" id="footer-twitter-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.tiktok %}
            <a href="{{cfg.tiktok}}" id="footer-tiktok-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.linkedin %}
            <a href="{{cfg.linkedin}}" id="footer-linkedin-icon" class="footer-social-media-icon"></a>
          {% endif %}
          
        </div>
      </div>
      			<div id="tabs">
				<div class="tabs-column">
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/termsAndConditions/">{{content.global_[lang]['termsAndConditions']}}</a>
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/refundPolicy/">{{content.global_[lang]['refundPolicy']}}</a>
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/privacyPolicy/">{{content.global_[lang]['privacyPolicy']}}</a>
				</div>

        <div class="tabs-column">
          {% for cat in database.categories.all_categories[:9] %}
            <a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/categories/{{cat.id}}">{{cat.name[lang]}}</a>
          {% endfor %}
        </div>
        <div class="tabs-column">
          {% for cat in database.categories.all_categories[10:19] %}
            <a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/categories/{{cat.id}}">{{cat.name[lang]}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="copyright" style="font-family: '{{primary_font_family}}'">lsdfsldjfjdfjsljdlfuwr-w-384-23rwlekrk;lwjfpjpo2-308-2kfejsldf!2j@;;ldigfp04r</div>
  </footer>


  </body>
</html>