@media screen and (min-width: 1024px) {
  * {
    font-family: "Raleway";
  }

  section#entry {
    width: 100%;
    min-height: 100vh;
    max-height: 10000vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    gap: 32px;
    margin-top: 12.5vh;
    margin-bottom: 5vh;
    padding: 0 5%;
  }

  section#entry > div#main-section {
    width: 60%;
    min-height: 10vh;
    display: flex;
    align-items: start;
    justify-content: start;
    display: flex;
    background-color: var(--bg-color);
    border-radius: 12px;
    flex-direction: column;
    padding: 8px 16px;
  }

  div#main-section > h3 {
    font-weight: 700;
    font-size: 1.5em;
    font-family: "Raleway";
    color: var(--main-color);
  }

  div#main-section > h4 {
    font-weight: 500;
    font-size: 1em;
    font-family: "Poppins";
    color: var(--secondaryColor);
  }

  div#main-section > div.divider {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(0, 0, 0, 0.25) 50%,
      transparent 100%
    );
  }

  div#main-section .product-cards {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .product-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .product-row#header:hover {
    background-color: transparent;
  }

  .product-row {
    transition: 250ms ease;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
  }
  .product-row-header {
    border-radius: 12px;
    transition: 250ms ease;
    padding: 0 8px;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 8px;
  }
  .product-row-header#header {
    max-height: 5vh;
  }

  .product-row-cover {
    min-width: 64px;
    min-height: 64px;
    display: flex;
    border-radius: 12px;
    background-color: var(--body-bg-color);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #header .product-row-cover {
    opacity: 0;
  }

  .product-row-code {
    min-width: 10%;
    max-width: 10%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    font-weight: 300;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  .product-row-title {
    min-width: 40%;
    max-width: 40%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    font-weight: 300;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  .product-row-sizes,
  .product-row-colors,
  .product-row-stock {
    min-width: 10%;
    max-width: 10%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    font-weight: 300;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  .product-row-stock {
    align-items: center;
    justify-content: center;
  }

  .product-row-stock span {
    font-weight: 500;
    font-size: 0.75em;
    font-family: "Poppins";
  }

  .product-row-divider {
    height: 0.5px;
    width: 100%;
    margin: 4px 0;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .product-row-collapsable > * {
    display: none;
  }
  .product-row-collapsable {
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: 250ms ease;
    max-height: 200vh;
  }

  .product-row-collapsable-body {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px 16px;
  }

  .product-row-collapsable.active {
    height: 40vh;
    overflow-y: auto;
  }

  .product-row-collapsable.active * {
    display: flex;
  }

  .product-row-collapsable-column {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    row-gap: 8px;
  }
  .product-row-collapsable-cover {
    min-width: 96px;
    min-height: 96px;
    display: flex;
    background-color: var(--body-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 12px;
    padding: 8px 16px;
  }
  .product-row-collapsable-column-tile {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2px;
  }

  .product-row-collapsable-column-tile > label {
    font-weight: 300;
    font-size: 0.65em;
    font-family: "Poppins";
  }

  .product-row-collapsable-column-tile > h3 {
    font-weight: 500;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  .product-row-collapsable-column-tile > button {
    font-weight: 500;
    font-size: 0.6em;
    z-index: 5;
    font-family: "Poppins";
    color: #111;
    text-decoration: underline;
    /* padding-right: 4px; */
    padding: 4px;
  }

  section#entry > div#side-section {
    width: 40%;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    display: flex;
    border-radius: 12px;
    gap: 12px;
  }

  div#side-section .card {
    padding: 8px 16px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-radius: 12px;
    background-color: var(--bg-color);
    gap: 12px;
  }

  .fragment-controller {
    transition: 250ms ease;
    font-weight: 700;
    font-size: 0.75em;
    color: var(--secondaryColor);
    background-color: transparent;
    border: none;
  }

  .fragment-controller.active {
    font-weight: 700;
    font-size: 0.75em;
    color: var(--main-color);
    text-decoration: underline;
    background-color: transparent;
    border: none;
  }

  .requests-fragment {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: start;
    justify-self: start;
    flex-direction: column;
    display: none;
  }
  .requests-fragment.active {
    display: flex !important;
  }

  .request-card {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: var(--body-bg-color);
    margin: 8px 0;
    transition: 500ms ease;
  }

  .request-card:hover {
    transform: scale(1.025);
  }

  .request-card .type {
    padding: 8px 16px;
    font-weight: 900;
    font-size: 0.75em;
    background-color: var(--main-color);
    color: var(--body-bg-color);
    border-radius: 4px;
  }

  .request-card .date {
    font-family: "Poppins";
    font-weight: 500;
    color: var(--secondaryVarientColor);
    padding: 8px 0;
  }

  .request-card .products-cards {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  div.req-product-card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    background-color: var(--bg-color);
    padding: 4px 8px;
    min-height: 12vh;
    border-radius: 12px;
    gap: 8px;
  }

  .req-product-card .product-icon {
    width: 96px;
    height: 10vh;
    background-color: var(--body-bg-color);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .req-product-card .product-title {
    font-weight: 900;
    font-size: 0.9em;
    color: var(--main-color);
  }

  div.scope-product-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    background-color: var(--body-bg-color);
    padding: 4px 8px;
    min-height: 12vh;
    border-radius: 12px;
    gap: 8px;
  }

  .scope-product-card .product-icon {
    width: 96px;
    height: 10vh;
    background-color: var(--bg-color);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .scope-product-card .product-title {
    font-weight: 900;
    font-size: 0.9em;
    color: var(--main-color);
  }

  .scope-product-card .product-scope {
    font-weight: 500;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  .scope-product-card .product-scope span {
    font-weight: 300;
    font-family: "Raleway";
    font-size: 0.85em;
  }

  .product-specs,
  .product-quantity {
    font-family: "Poppins";
    font-size: 0.7em;
    font-weight: 500;
  }

  .request-card p,
  .req-product-card p,
  .scope-product-card p {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .request-card p > i {
    width: 24px !important;
    height: 24px !important;
  }
  .request-card p > i,
  .req-product-card p > i,
  .scope-product-card p > i {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  i.date {
    background-image: url(./icons/calendar.png);
  }

  i.color {
    background-image: url(./icons/color-palette.png);
  }

  i.size {
    background-image: url(./icons/measurement.png);
  }

  i.quantity {
    background-image: url(./icons/box.png);
  }

  .request-card .options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
  }

  #overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  #deposit-request-submission {
    max-width: 60%;
    max-height: 60vh;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-bg-color);
    border-radius: 12px;
    flex-direction: column;
    padding: 8px 16px;
  }

  #deposit-request-submission #body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
    flex-direction: column;
  }

  #deposit-request-submission p {
    margin-top: 12px;
    font-weight: 500;
    font-size: 0.9em;
    font-family: "Poppins";
  }

  #deposit-request-submission p span {
    font-weight: 300;
    font-size: 0.75em;
    font-family: "Poppins";
  }

  #deposit-request-submission #title {
    font-weight: 700;
    font-size: 1em;
    font-family: "Raleway";
  }

  #deposit-dialog {
    width: 80%;
    height: 80vh;
    display: none;
    align-items: start;
    justify-content: start;
    background-color: var(--body-bg-color);
    position: fixed;
    top: 10vh;
    left: 10%;
    z-index: 1001;
    padding: 8px 17px;
    border-radius: 12px;
    flex-direction: column;
  }

  #deposit-request-submission > #header,
  #deposit-dialog > #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  #deposit-dialog > #header > h3 {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--main-color);
  }

  #deposit-dialog > #header > div {
    cursor: pointer;
  }

  #deposit-request-submission > #options,
  #deposit-dialog > #options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    column-gap: 8px;
  }

  #deposit-dialog > #options p {
    font-weight: 500;
    font-size: 0.75em;
    font-family: "Raleway";
  }

  #deposit-dialog > #body {
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    align-items: start;
    justify-content: start;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
  }

  #deposit-dialog > #body h3 {
    font-weight: 500;
    font-size: 1em;
    font-family: "Raleway";
    margin: 16px;
    display: none;
  }

  .products-dropbtn {
    background-color: var(--body-bg-color);
    padding: 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 30px 1px #999;
    border-radius: 12px;
    width: 100%;
    height: 8vh;
    justify-content: start;
    align-items: center;
    display: flex;
    transition: 500ms ease;
    margin: 4vh 0;
  }

  #product-search {
    width: 100%;
    height: 7vh;
    display: flex;
    padding: 4px 8px;
    outline: none;
    border: none;
    transition: 500ms ease;
    font-size: 1.25em;
    font-weight: 500;
    font-family: "Cairo";
    color: var(--main-color);
    background-color: transparent;
  }

  .products-dropdown {
    position: relative;
    display: inline-block;
  }

  .products-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--body-bg-color);
    min-width: 90%;
    max-height: 50vh;
    overflow: auto;
    border: 1px solid var(--main-color);
    z-index: 1;
    box-shadow: 0 0 30px 1px #999;
    border-radius: 4px;
    bottom: 0;
    font-family: "Raleway";
  }

  .products-dropdown-content {
    top: -5% !important;
  }

  .products-dropdown-content button {
    color: var(--main-color);
    font-weight: 300;
    padding: 12px 16px;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: "Raleway";
  }

  .products-dropdown-content button:hover {
    background-color: var(--main-color-variant);
  }

  .show {
    display: block;
  }

  #sizes-section,
  #colors-section {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    column-gap: 8px;
    row-gap: 16px;
  }

  #colors-section .color-div.active {
    border: 2px var(--main-color) solid;
    border-radius: 12px;
    padding: 2px 4px;
    max-height: 200px;
  }

  #sizes-section .size-div.active {
    border: 2px var(--main-color) solid;
  }

  #colors-section .color-div {
    transition: 500ms ease;
    width: 64px;
    max-height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }

  #sizes-section .size-div {
    transition: 500ms ease;
    padding: 8px 16px;
    background-color: var(--bg-color);
    border-radius: 15px;
    font-family: "Poppins";
    font-size: 0.75em;
    cursor: pointer;
  }

  #colors-section .color-div div {
    min-width: 100%;
    max-width: 100%;
    min-height: 64px;
    max-height: 64px;
    display: flex;
    border-radius: 12px;
  }

  #colors-section .color-div p {
    font-weight: 500;
    font-size: 0.75em;
    text-align: center;
    font-family: "Poppins";
  }
}
