<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bra7tak Admin - Overview</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='global/styles/icons/favicon.ico')}}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='adminstration/global/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='adminstration/overview/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='checkout/styles/computer.css')}}"
    />

    <script
      type="text/javascript"
      src="{{url_for('static', filename='adminstration/overview/scripts/main.js')}}"
    ></script>
  </head>
  <body>
    <header>
      <h3>Bra7tak Admin</h3>
      <div class="navbar">
        {% if "0" in admin_data["accesses"] %}
        <div class="dropdown">
          <button class="dropbtn">Overview</button>
          <div class="dropdown-content">
            <label>Overview</label>
            <a href="/webapp/adminstration/overview/" class="active">Overview</a>
          </div>
        </div>
        {% endif %}
        <div class="dropdown">
          <button class="dropbtn">Resources Planning</button>
          <div class="dropdown-content">
            <label>Resources Planning</label>
            {% if "1" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/shippingInformation/"
              >Shipping Information</a
            >
            {%else%}
            <a
              href="/webapp/adminstration/shippingInformation/"
              class="disabled"
              >Shipping Information</a
            >
            {%endif%} {% if "2" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/inventory/">Inventory</a>
            {%else%}
            <a class="disabled" href="/webapp/adminstration/inventory/"
              >Inventory</a
            >
            {%endif%} {% if "3" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/orders/">Orders</a>
            {%else%}
            <a href="/webapp/adminstration/orders/" class="disabled">Orders</a>
            {%endif%} {% if "4" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/pos/">POS</a>
            {%else%}
            <a class="disabled" href="/webapp/adminstration/pos/">POS</a>
            {%endif%} {% if "9" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/hr">HR</a>
            {%else%}
            <a class="disabled" href="/webapp/adminstration/hr/">HR</a>
            {%endif%}
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Website Content</button>
          <div class="dropdown-content">
            <label>Website Content</label>
            {% if "5" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/categories/">Categories</a>
            {%else%}
            <a href="/webapp/adminstration/categories/" class="disabled"
              >Categories</a
            >
            {%endif%} {% if "6" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/products">Products</a>
            {%else%}
            <a href="/webapp/adminstration/products" class="disabled"
              >Products</a
            >
            {%endif%} {% if "7" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/banners/">Banners</a>
            {%else%}
            <a class="disabled" href="/webapp/adminstration/banners/"
              >Banners</a
            >
            {%endif%}
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Users Management</button>
          <div class="dropdown-content">
            <label>Users Management</label>
            {% if "8" in admin_data["accesses"] %}
            <a href="/webapp/adminstration/users/">Users</a>
            {%else%}
            <a class="disabled" href="/webapp/adminstration/users/">Users</a>
            {%endif%}
            <a href="/webapp/adminstration/settings/">Admins</a>
          </div>
        </div>
        |
        <button onclick="logout();" class="shadow-button" style="color: red">
          Logout
        </button>
      </div>
    </header>
    {% set pos_report= calcs.report() %}
    <section>
      <div class="header">
        <h3>Point of Sale</h3>
        <a
          style="font-family: 'Raleway';"
          href="/webapp/adminstration/pos/"
          class="main-button"
          >See More</a
        >
      </div>
      <div class="body">
        <div class="card blue">
          <h3 class="title">Orders Revenues</h3>
          <p class="bio">
            The amount of money that enters the company from orders.
          </p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['INPUTS']['ORDERS'] |
            int))}}
          </p>
        </div>
        <div class="card blue">
          <h3 class="title">Deals Revenues</h3>
          <p class="bio">
            The amount of money that enters the company from deals.
          </p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['INPUTS']['DEALS'] |
            int))}}
          </p>
        </div>
        <div class="card red">
          <h3 class="title">Stock Expenses</h3>
          <p class="bio">The amount of money that spent on stock.</p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['OUTPUTS']['STOCK'] |
            int))}}
          </p>
        </div>
        <div class="card red">
          <h3 class="title">Salaries Expenses</h3>
          <p class="bio">The amount of money that spent on salaries.</p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['OUTPUTS']['SALARIES']
            | int)) or '0'}}
          </p>
        </div>
        <div class="card red">
          <h3 class="title">Bills Expenses</h3>
          <p class="bio">The amount of money that spent on monthly bills.</p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['OUTPUTS']['BILLS'] |
            int)) or '0'}}
          </p>
        </div>
        <div class="card red">
          <h3 class="title">Investments Expenses</h3>
          <p class="bio">
            The amount of money that spent on investments (like marketing).
          </p>
          <p class="value">
            {{utils.format_price((pos_report['OVERVIEW']['OUTPUTS']['INVESTMENTS']
            | int)) or '0'}}
          </p>
        </div>
        <div class="card green">
          <h3 class="title">Total Revenues</h3>
          <p class="bio">The total amount of money that enters the comapny.</p>
          <p class="value">
            {{utils.format_price((pos_report['CONVERSION_RATE']['TOTAL_INPUTS']
            | int))}}
          </p>
        </div>
        <div class="card green">
          <h3 class="title">Total Expenses</h3>
          <p class="bio">The total amount of money that spent from comapny.</p>
          <p class="value">
            {{utils.format_price((pos_report['CONVERSION_RATE']['TOTAL_OUTPUTS']
            | int))}}
          </p>
        </div>
        <div class="card green">
          <h3 class="title">Profit Margin</h3>
          <p class="bio">The difference between inputs and outputs.</p>
          <p class="value">
            {{utils.format_price((pos_report['CONVERSION_RATE']['PROFIT_MARGIN']
            | int ))}}
            <span
              >({{(pos_report['CONVERSION_RATE']['PROFIT_MARGIN_PRECENTAGE']|string)[:5]}}%)</span
            >
          </p>
        </div>
        <div class="card yellow">
          <h3 class="title">ROI</h3>
          <p class="bio">Return on Investment.</p>
          <p class="value">{{(pos_report['ROI'] | string)[:5]}}%</p>
        </div>
      </div>
    </section>
    <section>
      <div class="header">
        <h3>Orders</h3>
        <a
          style="font-family: 'Raleway';"
          href="/webapp/adminstration/orders/"
          class="main-button"
          >See More</a
        >
      </div>
      <div class="body">
        <div class="card blue">
          <h3 class="title">Pending Orders</h3>
          <p class="bio">
            Orders that needs confirmation from admins.
          </p>
          <p class="value">
              {{database.orders.get_all_orders({})['STOCKED'] | length}}
            </p>
        </div>
        <div class="card yellow">
          <h3 class="title">In Delivery Orders</h3>
          <p class="bio">
            Orders that out for delivery.
          </p>
          <p class="value">
            {{database.orders.get_all_orders({})['IN_DELIVERY'] | length}}
        </p>
    </div>
    <div class="card green">
        <h3 class="title">DELIVERED ORDERS</h3>
        <p class="bio">Orders that delivered successfully.</p>
        <p class="value">
            {{database.orders.get_all_orders({})['DELIVERED'] | length}}
        </p>
        </div>
        <div class="card red">
            <h3 class="title">Canceled Orders</h3>
            <p class="bio">Orders that canceled from customers.</p>
            <p class="value">
                {{database.orders.get_all_orders({})['CANCELED'] | length}}
            </p>
    </div>
    <div class="card red">
        <h3 class="title">Returned Orders</h3>
        <p class="bio">Orders that cusomters returned.</p>
        <p class="value">
            {{database.orders.get_all_orders({})['RETURNED'] | length}}
          </p>
        </div>
    </section>
    <section>
      <div class="header">
        <h3>Website Layout</h3>
        <a
          style="font-family: 'Raleway';"
          href="/webapp/adminstration/orders/"
          ></a
        >
      </div>
      <div class="body">
        <div class="card blue">
          <h3 class="title">Categories</h3>
          <p class="bio">
          </p>
          <p class="value">
              {{database.categories.all_categories | length}}
            </p>
        </div>
        <div class="card yellow">
          <h3 class="title">Users</h3>
          <p class="bio">
          </p>
          <p class="value">
            {{database.users.get_all_users({}) | length}}
        </p>
    </div>
    <div class="card green">
        <h3 class="title">Banners</h3>
        <p class="bio"></p>
        <p class="value">
            3
        </p>
        </div>
        <div class="card red">
            <h3 class="title">Admins</h3>
            <p class="bio"></p>
            <p class="value">
                {{database.admins.admins_data | length}}
            </p>
    </div>
        <div class="card purple">
            <h3 class="title">Shipping Providers</h3>
            <p class="bio"></p>
            <p class="value">
                1
            </p>
    </div>
    </section>
  </body>
</html>
