<!DOCTYPE html>
{%if lang =="ar"%}
	<html lang="{{lang}}" dir="rtl">
{%else%}
	<html lang="{{lang}}" dir="ltr">
{%endif%}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{content.global_[lang]['name']}} - {{content.actions[lang]['checkout']}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='global/styles/icons/favicon.ico')}}">

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='global/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='global/styles/smallDevices.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='checkout/styles/computer.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='checkout/styles/smallDevices.css')}}"
    />
    <script src="{{url_for('static', filename='checkout/scripts/main.js')}}"></script>
    <script src="{{url_for('static', filename='global/scripts/main.js')}}"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='./website/global/styles/images/logo-accent.ico')}}"
    />
    <meta name="description" content="{{cfg.meta_description}}" />
    <meta name="keywords" content="{{cfg.keywords}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body onload="initFormsSections()">
      <header>
        <div id="title">
          <div id="drawer-icon"></div>
              
          <a
            href="/"
            id="header-title"
            style="font-family: '{{primary_font_family}}';"
            >{{content.global_[lang]['name']}}</a
          >
        </div>
      <nav>
        <a href="{{cfg.base_url}}/login/" id="header-user-nav-item">
          <div id="header-user-icon" class="header-nav-icon"></div>
          <p style='font-family: "{{primary_font_family}}";'>
            {% if uid %}
              {{content.tabs[lang]['account']}}
            {% else %}
              {{content.tabs[lang]['login']}}<br /><span
              >{{content.tabs[lang]['account']}}</span
            >
            {% endif %}
          </p>
        </a>
        <a href="{{cfg.base_url}}/favourites/" id="header-favourites-nav-item">
          <div id="header-favourites-icon" class="header-nav-icon"></div>
          <div id="header-favourites-badge">
            {% if uid %}
              {{len(user_data.favourites)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
        <a href="{{cfg.base_url}}/cart/" id="header-cart-nav-item">
          <div id="header-cart-icon" class="header-nav-icon"></div>
          <div id="header-cart-badge">
            {% if uid %}
              {{len(user_data.cart)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
        {% if lang == 'en' %}
        <button onclick="changeLang('{{cfg.base_url}}', 'ar');" style="font-family: '{{primary_font_family}}'" id="lang-button">
            <p style='font-family: "Cairo";'>العربية</p>
        </button>
      {% else %}
        <button onclick="changeLang('{{cfg.base_url}}', 'en');" style="font-family: '{{primary_font_family}}'" id="lang-button">
            <p style='font-family: "Raleway";'>en</p>
        </button>
      {% endif %}
      </nav>
    </header>
    <div id="progress" dir="ltr">
      <div id="progress-bar"></div>
      <div id="icons">
        <div class="progress-icon active" id="personal-information-icon">
          <div class="icon"></div>
          <h6 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['personalInformation']}}</h6>
        </div>
        <div class="progress-icon" id="shipping-information-icon">
          <div class="icon"></div>
          <h6 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['ShippingInformation']}}</h6>
        </div>
        <div class="progress-icon" id="payment-information-icon">
          <div class="icon"></div>
          <h6 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['PaymentInformation']}}</h6>
        </div>
        <div class="progress-icon" id="complete-order-icon">
          <div class="icon"></div>
          <h6 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['CompleteOrder']}}</h6>
        </div>
      </div>
    </div>
    <section class="form-section" id="personal-information">
        <h3 style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['personalInformation']}}</h3>
        <input type="name" name="name" id="username" placeholder="{{content.global_[lang]['fullName']}}" class="single-line-field">
        <input type="email" name="email" id="email" placeholder="{{content.auth[lang]['email']}}" class="single-line-field">
        <input type="tel" name="phone" id="phone" placeholder="{{content.auth[lang]['phone']}}" class="single-line-field">
        <button onclick="toggleGendersDropdown()" id="genders-dropbtn" class="genders-dropbtn">{{content.actions[lang]["pickGender"]}}</button>
      <div id="genders-dropdown" class="genders-dropdown-content">
        <input type="text" placeholder="{{content.global_[lang]['search']}}..." id="gender-search" onkeyup="gendersFilter()">
        {% for gender in content.genders[lang].keys() %}
          <button style="font-family: '{{primary_font_family}}';" onclick="chooseGender('{{content.genders[lang][gender]}}', '{{gender}}', '{{lang}}');">{{content.genders[lang][gender]}}</button>
        {% endfor %}
      </div>
      <button class="main-button" onclick="personalInformationConfirmation();" style="font-family: '{{primary_font_family}}';">{{content.actions[lang]['submit']}}</button>
    </section>
    <section class="form-section" id="shipping-information">
        <h3 style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['ShippingInformation']}}</h3>
        <button onclick="toggleCitiesDropdown()" id="cities-dropbtn" class="cities-dropbtn">{{content.actions[lang]["pickCity"]}}</button>
        <div id="cities-dropdown" class="cities-dropdown-content">
          <input type="text" placeholder="{{content.global_[lang]['search']}}..." id="city-search" onkeyup="filter()">
          {% for city in content.cities[lang].keys() %}
          <button style="font-family: '{{primary_font_family}}';" onclick="chooseCity('{{content.cities[lang][city]}}', '{{city}}', '{{lang}}');">{{content.cities[lang][city]}}</button>
          {% endfor %}
        </div>
        <input type="address" name="address" id="address-line-one" placeholder="{{content.global_[lang]['addressOne']}}" class="single-line-field">
        <input type="address" name="address" id="address-line-two" placeholder="{{content.global_[lang]['addressTwo']}} ({{content.global_[lang]['optional']}})" class="single-line-field">
        <h3 style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['comments']}}</h3>
        <textarea name="comments" id="comments" placeholder="{{content.global_[lang]['comments']}}" class="single-line-field" style="resize: none;" rows="20" cols="50"></textarea>
      <button class="main-button" onclick="shippingInformationConfirmation();" style="font-family: '{{primary_font_family}}';">{{content.actions[lang]['submit']}}</button>
    </section>
    <section class="form-section" id="payment-information">
      <h3 style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['PaymentInformation']}}</h3>
      {% set cart_calc = utils.cart_calculations(cart) %}
      <div id="cart">
        <h4 style="font-family: '{{primary_font_family}}'"><span style="font-family: 'Poppins';">{{cart_calc['PRODUCTS_LENGTH']}}</span> {{content.tabs[lang]['products']}}</h4>
        <div id="specs">
          <div>
            <div class="icon" id="price"></div>
            <p style="font-family: '{{primary_font_family}}';">
              {{content.global_[lang]['price']}}: <span style="font-family: 'Poppins">{{utils.format_price(cart_calc['PRODUCTS_PRICE'], show_curr= True)}}</span>
            </p>
          </div>
          <div>
            <div class="icon" id="vat"></div>
            <p style="font-family: '{{primary_font_family}}';">
              {{content.global_[lang]['vat']}}: 
              <span style="font-family: 'Poppins">{{utils.format_price(cart_calc['TOTAL_VAT'], show_curr=True)}}</span>
            </p>
          </div>
          <div>
            <div class="icon" id="shipping"></div>
            <p style="font-family: '{{primary_font_family}}';">
              {{content.global_[lang]['shippingFees']}}: 
              {% if uid %}
              <span style="font-family: 'Poppins">{{utils.format_price(database.products.shipping_options[(user_data.city_code | string)]['fees'] | int, show_curr=True)}}</span>
              {%else%}
              <span style="font-family: 'Poppins">{{utils.format_price(database.products.shipping_options['5']['fees'] | int, show_curr=True)}}</span>
              {%endif%}
            </p>
          </div>
        </div>
      </div>
      <div id="methods">
          {% for pm in cfg.supported_checkout_methods.keys() %}
            <div id="methods-cards">
              {%if cfg.supported_checkout_methods[pm]['supported'] %}
                <label style="font-family: '{{primary_font_family}}'" class="pm-checkbox" >{{content.global_[lang][cfg.supported_checkout_methods[pm]['title']]}} <input type="checkbox" id="{{pm}}-checkbox" class="supported-checkout-method" />  <div class="pm-icon" id="pm-icon-{{pm}}"></div> <span class="checkmark"></span>
              {% else %}
                <div class="pm-icon" id="pm-icon-{{pm}}"></div>
                <p style="font-family: '{{primary_font_family}}'" class="pm-unsupported" >{{content.global_[lang][cfg.supported_checkout_methods[pm]['title']]}} <span>({{content.global_[lang]['comingSoon']}})</span></p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      <button class="main-button" id="order-confirmation" onclick="paymentInformationConfirmation('{{lang}}');" style="font-family: '{{primary_font_family}}';">{{content.actions[lang]['submit']}}</button>
    </section>
    <section class="form-section" id="complete-order">
      <div id="icon"></div>
      <p style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['orderCompletedSuccessfullyMsg']}}</p>
      <a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}" class="main-button">{{content.actions[lang]['completeShopping']}}</a>
    </section>

  <footer>
    <div id="content">
      <div id="meta-info">
        <div id="logo"></div>
        <h1 style="font-family: '{{primary_font_family}}'">{{content.global_[lang]['name']}}</h1>
        <p style="font-family: '{{primary_font_family}}'">{{content.global_[lang]["bio"]}}</p>
        <div id="links">
          {% if cfg.facebook %}
            <a href="{{cfg.facebook}}" id="footer-facebook-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.instagram %}
            <a href="{{cfg.instagram}}" id="footer-instagram-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.twitter %}
            <a href="{{cfg.twitter}}" id="footer-twitter-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.tiktok %}
            <a href="{{cfg.tiktok}}" id="footer-tiktok-icon" class="footer-social-media-icon"></a>
          {% endif %}
          {% if cfg.linkedin %}
            <a href="{{cfg.linkedin}}" id="footer-linkedin-icon" class="footer-social-media-icon"></a>
          {% endif %}
          
        </div>
      </div>
      			<div id="tabs">
				<div class="tabs-column">
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/termsAndConditions/">{{content.global_[lang]['termsAndConditions']}}</a>
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/refundPolicy/">{{content.global_[lang]['refundPolicy']}}</a>
					<a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/privacyPolicy/">{{content.global_[lang]['privacyPolicy']}}</a>
				</div>

        <div class="tabs-column">
          {% for cat in database.categories.all_categories[:9] %}
            <a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/categories/{{cat.id}}">{{cat.name[lang]}}</a>
          {% endfor %}
        </div>
        <div class="tabs-column">
          {% for cat in database.categories.all_categories[10:19] %}
            <a style="font-family: '{{primary_font_family}}';" href="{{cfg.base_url}}/categories/{{cat.id}}">{{cat.name[lang]}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="copyright" style="font-family: '{{primary_font_family}}'">lsdfsldjfjdfjsljdlfuwr-w-384-23rwlekrk;lwjfpjpo2-308-2kfejsldf!2j@;;ldigfp04r</div>
  </footer>
  <div id="drawer-overlay"></div>
  <div id="drawer">
    <div id="drawer-header">
      <div id="drawer-close">x</div>
    </div>
     <a href="/" id="header-title" style="font-family: '{{primary_font_family}}';">{{content.global_[lang]['name']}}</a>
    <div id="options">
      {% if uid %}
      <a href="{{cfg.base_url}}/profile/" id="drawer-user-nav-item">
      {% else %}
        <a href="{{cfg.base_url}}/login/" id="drawer-user-nav-item">
      {% endif %}
          <div id="drawer-user-icon" class="drawer-nav-icon"></div>
          <p style='font-family: "{{primary_font_family}}";'>
            {% if uid %}
              {{content.tabs[lang]['account']}}
            {% else %}
              {{content.tabs[lang]['login']}}<br /><span
              >{{content.tabs[lang]['account']}}</span
            >
            {% endif %}
          </p>
        </a>
        {% if lang == 'en' %}
        <button onclick="changeLang('{{cfg.base_url}}', 'ar');" style="font-family: '{{primary_font_family}}'" id="lang-button">
            <div id="drawer-lang-icon" class="drawer-nav-icon"></div>
            <p style='font-family: "Cairo";'>العربية</p>
        </button>
      {% else %}
        <button onclick="changeLang('{{cfg.base_url}}', 'en');" style="font-family: '{{primary_font_family}}'" id="lang-button">
          <div id="drawer-lang-icon" class="drawer-nav-icon"></div>
            <div id="drawer-user-icon" class="drawer-nav-icon"></div>
            <p style='font-family: "Raleway";'>en</p>
        </button>
      {% endif %}
        <a href="{{cfg.base_url}}/favourites/" id="drawer-favourites-nav-item">
          <div id="drawer-favourites-icon" class="drawer-nav-icon"></div>
          <p style='font-family: "{{primary_font_family}}";'>{{content.tabs[lang]['favourites']}}</p>
          <div id="drawer-favourites-badge">
            {% if uid %}
              {{len(user_data.favourites)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
        <a href="{{cfg.base_url}}/cart/" id="drawer-cart-nav-item">
          <div id="drawer-cart-icon" class="drawer-nav-icon"></div>
          <p style='font-family: "{{primary_font_family}}";'>{{content.tabs[lang]['cart']}}</p>
          <div id="drawer-cart-badge">
            {% if uid %}
              {{len(user_data.cart)}}
            {% else %}
              {{0}}
            {% endif %}
          </div>
        </a>
    </div>
    <h5 style="font-family: '{{primary_font_family}}';" class="drawer-section-title">{{content.tabs[lang]['categories']}}</h5>
    <div id="categories">
      {% for cat in database.categories.all_categories %}
        <div class="category-card" onclick="window.open('{{cfg.base_url}}/categories/{{cat.id}}', '_self');">
          <h3 style="font-family: '{{primary_font_family}}';">{{cat['name'][lang]}}<br><span>{{len(cat['products'])}} Products</span></h3>
        </div>
      {% endfor %}
    </div>
    <h5 style="font-family: '{{primary_font_family}}';" class="drawer-section-title">{{content.tabs[lang]['socialMedia']}}</h5>

    <div id="links">
          {% if cfg.facebook %}
            <a href="{{cfg.facebook}}" id="drawer-facebook-icon" class="drawer-social-media-icon"></a>
          {% endif %}
          {% if cfg.instagram %}
            <a href="{{cfg.instagram}}" id="drawer-instagram-icon" class="drawer-social-media-icon"></a>
          {% endif %}
          {% if cfg.twitter %}
            <a href="{{cfg.twitter}}" id="drawer-twitter-icon" class="drawer-social-media-icon"></a>
          {% endif %}
          {% if cfg.tiktok %}
            <a href="{{cfg.tiktok}}" id="drawer-tiktok-icon" class="drawer-social-media-icon"></a>
          {% endif %}
          {% if cfg.linkedin %}
            <a href="{{cfg.linkedin}}" id="drawer-linkedin-icon" class="drawer-social-media-icon"></a>
          {% endif %}
          
        </div>
  </div>

  <script type="text/javascript">
    {% if user_data %}
      initFormsFields({{user_data.to_dict() | safe}}, {{content.cities | safe}}, {{content.genders | safe}}, '{{lang}}');
    {% endif %}
  </script>

  </body>
</html>
